body, html {
    height: 100%;
}
h2 {
    color: white;
    font:24px georgia;
    font-weight: bold;
}
.tetris-instructions {
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-family: serif;
    font-size: 14px;
    letter-spacing: 1px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.text-center {
    background-color: #000;
    height: 100%;
}
#divMain {
    column-count: 2;
    column-gap: 10px;
    display: flex;
}
.video-frame {
    height: 315px;
    width: 560px;
}
.game-frame {
    background-color:#000; 
    color:#fff;
    font:17px georgia;
    user-select:none;
}
#essayBox {
    background-color:#FFF;
    color:#000;
    resize: none;
    width: 480px;
    height: 480px;
    font-family:monospace;  
    font-size: 14px; 
}
